<% layout('/layouts/boilerplate') -%>

<body>
    <h3>Create A New Listing</h3>
    <form method ="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br>
        <br>
        <textarea type="text" name="listing[description]" placeholder="Enter Description"> </textarea>
        <br> 
        <br>
        <input type="text" name="listing[image]" placeholder="Enter Image URL">
        <br>
        <br>
         <input type="number" name="listing[price]" placeholder="Enter Price">
        <br> 
        <br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br>
        <br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br> 
        <br>
        <button> ADD</button>
    </form>
</body>
